@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300&family=Prata&display=swap');
:root {
    --green: #27ae60;
    --black: #192a56;
    --light-color: #666;
    --box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
}

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    transition: all .2s linear;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Prata', sans-serif;
}

p {
    font-family: 'Inter', sans-serif;
}

body {
    background: black;
    color: white;
}

.main {
    margin: 2rem 6rem;
}


/* Navbar */

header {
    top: 0;
    left: 0;
    right: 0;
    background: #fff;
    font-family: 'Prata', sans-serif;
    padding: 2rem 6rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: black;
}

.nav-logo {
    color: #eee;
    font-size: 1.3rem;
    font-weight: bolder;
}

header .navbar a {
    font-size: 1.3rem;
    border-radius: .5rem;
    padding: .5rem 1.5rem;
    color: var(--light-color);
}

header .navbar a:hover {
    color: rgb(255, 219, 74);
}

header .icons i,
header .icons a {
    cursor: pointer;
    margin-left: .5rem;
    height: 4.5rem;
    line-height: 4.5rem;
    width: 4.5rem;
    text-align: center;
    font-size: 1.7rem;
    color: #eee;
    border-radius: 50%;
}

header .icons i:hover,
header .icons a:hover {
    color: #000;
    background: rgb(255, 219, 74);
    transform: rotate(360deg);
}

header .icons #menu-bars {
    display: none;
}

.nav-button {
    display: block;
    background-color: rgb(255, 219, 74);
    color: black;
    border-style: none;
    font-size: 1rem;
    padding: 10px 20px;
    font-family: 'prata', sans-serif;
}


/* Banner */

.banner {
    margin-top: 3rem;
}

.banner h2 {
    width: 68%;
    font-weight: 300;
    font-size: 3.7rem;
}

.banner p {
    width: 65%;
    margin-top: 5px;
    color: gray;
    font-size: 20px;
    padding-top: 5px;
}


/* brands showcase */

.brand-section {
    margin: 65px 0px;
    display: flex;
    justify-content: space-between;
    height: 23px;
}

.brands div {
    display: inline-block;
}

.brands div img {
    width: auto;
    height: 25px;
}


/* website showcase */

.website {
    display: flex;
    justify-content: space-between;
}

.spense {
    width: 46%;
}

#spense {
    width: 100%;
    object-fit: cover;
}

.yelp {
    width: 46%;
}

#yelp {
    width: 100%;
    object-fit: cover;
}


/* Website showcase text */

.arrow {
    display: inline-block;
    width: 1rem;
}

.spense h3 {
    margin: 1.2rem .7rem .7rem 0rem;
    font-size: 30px;
    font-weight: 100;
}

.spense p {
    color: #656566;
    font-weight: 700;
    font-size: 16px;
}

.yelp h3 {
    margin: 1.2rem .7rem .7rem 0rem;
    font-weight: 100;
    font-size: 30px;
}

.yelp p {
    color: #656566;
    font-weight: 700;
    font-size: 16px;
}


/* About Section  */

.about-main {
    margin: 4rem -6rem;
    background-color: #2e3038;
}

.about-section {
    padding: 4rem 6rem;
}

.about {
    display: flex;
    justify-content: space-between;
}

#col1 {
    width: 48%;
}

.about h3 {
    font-size: 26px;
    font-weight: 100;
}

.about p {
    font-size: 13px;
    color: #a8a8a8;
    font-weight: 500;
}

.p-with-margin {
    margin-top: 1rem;
}

.without-margin {
    margin-top: .5rem;
}

#col2 {
    width: 48%;
}


/* Interested Section  */

.interested-section {
    width: 48%;
}

.interested-section h3 {
    font-size: 2.1rem;
    /* letter-spacing: 1px; */
    font-weight: 100;
}

.interested-section p {
    margin-top: .5rem;
    width: 97%;
    font-size: 1.1rem;
    color: #a8a8a8;
    font-weight: 500;
}

.interested-section button {
    margin: 1rem 0 1rem 0;
    background-color: rgb(255, 219, 74);
    color: black;
    border-style: none;
    font-size: 18px;
    padding: 8px 16px;
    font-family: 'prata', sans-serif;
}


/* Footer Section  */

.footer-main {
    background: #2e3038;
    height: 4rem;
}

.footer-section {
    margin: 4rem 6rem 0rem 6rem;
    display: flex;
    justify-content: space-between;
    padding-top: 1.5rem;
}

.footer-section a {
    text-decoration: none;
    color: white;
    font-family: 'prata', sans-serif;
    font-size: 18px;
    font-weight: 100;
}

.footer-section img {
    margin-right: .4rem;
}